# Visual Studio
.vs/
*.user
*.suo

# Build
bin/
obj/

# Logs
*.log

# Node (se tiver Vue)
node_modules/
dist/

# OS
.DS_Store
Thumbs.db
# Arquivos enviados pelos usuários (fotos de perfil/portfólio)
wwwroot/uploads/
